<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.delhitourguide">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_tourguide"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_tourguideround"
        android:supportsRtl="true"
        android:theme="@style/Theme.DelhiTourGuide">
        <activity android:name=".ClubBWActivity"
            android:label="@string/clubBW_name"
            android:parentActivityName=".NightlifeActivity"/>
        <activity android:name=".LithiyumActivity"
            android:label="@string/lithiyum_name"
            android:parentActivityName=".NightlifeActivity"/>
        <activity android:name=".ClubLondonActivity"
            android:label="@string/clubLondon_name"
            android:parentActivityName=".NightlifeActivity"/>
        <activity android:name=".MyBarActivity"
            android:label="@string/myBar_name"
            android:parentActivityName=".NightlifeActivity"/>
        <activity android:name=".LightCameraActionActivity"
            android:label="@string/light_name"
            android:parentActivityName=".NightlifeActivity"/>
        <activity android:name=".MonkeyBarActivity"
            android:label="@string/monkey_name"
            android:parentActivityName=".NightlifeActivity"/>
        <activity android:name=".ComesumActivity"
            android:label="@string/comesum_name"
            android:parentActivityName=".NightlifeActivity"/>
        <activity android:name=".LittleOwlActivity"
            android:label="@string/littleOwl_name"
            android:parentActivityName=".NightlifeActivity"/>
        <activity android:name=".MochaArtPlaceActivity"
            android:label="@string/mocha_name"
            android:parentActivityName=".NightlifeActivity"/>
        <activity android:name=".TCBarActivity"
            android:label="@string/tcBar_name"
            android:parentActivityName=".NightlifeActivity"/>
        <activity android:name=".HybridActivity"
            android:label="@string/hybrid_name"
            android:parentActivityName=".NightlifeActivity"/>
        <activity android:name=".HardRockCafeActivity"
            android:label="@string/hardRock_name"
            android:parentActivityName=".NightlifeActivity"/>
        <activity android:name=".KeyaActivity"
            android:label="@string/keya_name"
            android:parentActivityName=".NightlifeActivity"/>
        <activity android:name=".BlueBarActivity"
            android:label="@string/blueBar_name"
            android:parentActivityName=".NightlifeActivity"/>
        <activity android:name=".ShiroActivity"
            android:label="@string/shiro_name"
            android:parentActivityName=".NightlifeActivity"/>
        <activity android:name=".KittysuActivity"
            android:label="@string/kitty_name"
            android:parentActivityName=".NightlifeActivity"/>
        <activity android:name=".MeenaBazaarActivity"
            android:label="@string/meena_name"
            android:parentActivityName=".MarketsActivity"/>
        <activity android:name=".BooksMarketActivity"
            android:label="@string/book_name"
            android:parentActivityName=".MarketsActivity"/>
        <activity android:name=".PalikaBazaarMarketActivity"
            android:label="@string/palika_name"
            android:parentActivityName=".MarketsActivity"/>
        <activity android:name=".PaharganjMarketActivity"
            android:label="@string/paharganj_name"
            android:parentActivityName=".MarketsActivity"/>
        <activity android:name=".KarolBaghMarketActivity"
            android:label="@string/karol_name"
            android:parentActivityName=".MarketsActivity"/>
        <activity android:name=".CanaughtPlaceMarketActivity"
            android:label="@string/canaught_name"
            android:parentActivityName=".MarketsActivity"/>
        <activity android:name=".CentralMarketActivity"
            android:label="@string/central_name"
            android:parentActivityName=".MarketsActivity"/>
        <activity android:name=".ChandiniChowkMarket"
            android:label="@string/chandniChowk_name"
            android:parentActivityName=".MarketsActivity"/>
        <activity android:name=".SarojiniMarketActvity"
            android:label="@string/sarojiniMarket_name"
            android:parentActivityName=".MarketsActivity"/>
        <activity android:name=".KhanMarketActivity"
            android:label="@string/khanMarket_name"
            android:parentActivityName=".MarketsActivity"/>
        <activity android:name=".JanpathMarketActivity"
            android:label="@string/janpathMarket_name"
            android:parentActivityName=".MarketsActivity"/>
        <activity android:name=".DilliHaatActivity"
            android:label="@string/dilliHaat_name"
            android:parentActivityName=".MarketsActivity"/>
        <activity android:name=".WestGateActivity"
            android:label="@string/westGate_name"
            android:parentActivityName=".MallActivity"/>
        <activity android:name=".MetroWalkActivity"
            android:label="@string/metro_name"
            android:parentActivityName=".MallActivity"/>
        <activity android:name=".AnsalPlazaActivity"
            android:label="@string/ansal_name"
            android:parentActivityName=".MallActivity"/>
        <activity android:name=".PacificActivity"
            android:label="@string/pacific_name"
            android:parentActivityName=".MallActivity"/>
        <activity android:name=".DlfCityActivity"
            android:label="@string/dlfCity_name"
            android:parentActivityName=".MallActivity"/>
        <activity android:name=".DlfPlaceActivity"
            android:label="@string/dlfPlace_name"
            android:parentActivityName=".MallActivity"/>
        <activity android:name=".AmbienceMallActivity"
            android:label="@string/ambience_name"
            android:parentActivityName=".MallActivity"/>
        <activity android:name=".DlfPromenade"
            android:label="@string/promenade_name"
            android:parentActivityName=".MallActivity"/>
        <activity android:name=".DlfEmporioActivity"
            android:label="@string/emporio_name"
            android:parentActivityName=".MallActivity"/>
        <activity android:name=".SelectCityWalkActivity"
            android:label="@string/select_name"
            android:parentActivityName=".MallActivity"/>
        <activity android:name=".NaturalsIceCreamActivity"
            android:label="@string/naturals_name"
            android:parentActivityName=".RestaurantsActivity"/>
        <activity android:name=".NaiveDeyamActivity"
            android:label="@string/naive_name"
            android:parentActivityName=".RestaurantsActivity"/>
        <activity android:name=".DigginActivity"
            android:label="@string/diggin_name"
            android:parentActivityName=".RestaurantsActivity"/>
        <activity android:name=".SummerHouseCafeActivity"
            android:label="@string/summerHouse_name"
            android:parentActivityName=".RestaurantsActivity"/>
        <activity android:name=".LordofDrinksActivity"
            android:label="@string/lord_name"
            android:parentActivityName=".RestaurantsActivity"/>
        <activity android:name=".AmaCafeActivity"
            android:label="@string/amaCafe_name"
            android:parentActivityName=".RestaurantsActivity"/>
        <activity android:name=".ArdorActivity"
            android:label="@string/ardor_name"
            android:parentActivityName=".RestaurantsActivity"/>
        <activity android:name=".HauzKhasSocialActivity"
            android:label="@string/hauzkhasSocial_name"
            android:parentActivityName=".RestaurantsActivity"/>
        <activity android:name=".MotiMahalDeluxActivity"
            android:label="@string/motiMahal_name"
            android:parentActivityName=".RestaurantsActivity"/>
        <activity android:name=".PindBaluchiActivity"
            android:label="@string/pindBaluchi_name"
            android:parentActivityName=".RestaurantsActivity"/>
        <activity android:name=".IndianAccentActivity"
            android:label="@string/indianAccent_name"
            android:parentActivityName=".RestaurantsActivity"/>
        <activity android:name=".FarziCafeActivity"
            android:label="@string/farzicafe_name"
            android:parentActivityName=".RestaurantsActivity"/>
        <activity android:name=".OliveBarActivity"
            android:label="@string/oliveBar_name"
            android:parentActivityName=".RestaurantsActivity"/>
        <activity android:name=".BercosActivity"
            android:label="@string/bercos_name"
            android:parentActivityName=".RestaurantsActivity"/>
        <activity android:name=".BanglaSahibGurudwaraActivity"
            android:label="@string/bangla_sahib_name"
            android:parentActivityName=".MonumentsActivity"/>
        <activity android:name=".LotusTempleActivity"
            android:label="@string/lotus_temple_basic"
            android:parentActivityName=".MonumentsActivity"/>
        <activity android:name=".AkshardhamTempleActivity"
            android:label="@string/akshardham_temple_basic"
            android:parentActivityName=".MonumentsActivity"/>
        <activity android:name=".ChatarpurTempleActivity"
            android:label="@string/chatarpur_temple_name"
            android:parentActivityName=".MonumentsActivity"/>
        <activity android:name=".TughlaqbadFortActivity"
            android:label="@string/tughlaqabad_fort_name"
            android:parentActivityName=".MonumentsActivity"/>
        <activity android:name=".ParliamentHouseActivity"
            android:label="@string/parliament_house_name"
            android:parentActivityName=".MonumentsActivity"/>
        <activity android:name=".JamaMasjidActivity"
            android:label="@string/jama_masjid_name"
            android:parentActivityName=".MonumentsActivity"/>
        <activity android:name=".PuranaQilaActivity"
            android:label="@string/purana_qila_name"
            android:parentActivityName=".MonumentsActivity"/>
        <activity android:name=".RashtrapatiBhawanActivity"
            android:label="@string/rashtrapati_bhawan_name"
            android:parentActivityName=".MonumentsActivity"/>
        <activity android:name=".SafdarjungsTombActivity"
            android:label="@string/safdarjungs_tomb_name"
            android:parentActivityName=".MonumentsActivity"/>
        <activity android:name=".HumayunsTombActivity"
            android:label="@string/humayuns_tomb_name"
            android:parentActivityName=".MonumentsActivity"/>
        <activity android:name=".IndiaGateActivity"
            android:label="@string/india_gate_name"
            android:parentActivityName=".MonumentsActivity"/>
        <activity android:name=".QutubMinarActivity"
            android:label="@string/qutub_minar_name"
            android:parentActivityName=".MonumentsActivity"/>
        <activity android:name=".RedFortActivity"
            android:label="@string/red_fort_name"
            android:parentActivityName=".MonumentsActivity"/>
        <activity android:name=".NightlifeActivity"
            android:label="@string/category_nightlife"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".MarketsActivity"
            android:label="@string/category_markets"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".MallActivity"
            android:label="@string/category_malls"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".RestaurantsActivity"
            android:label="@string/category_restaurants"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".MonumentsActivity"
            android:label="@string/category_monuments"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.example.delhitourguide.MainActivity" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>